# .NET
bin/
obj/
*.user
*.suo
.vs/
artifacts/
TestResults/
*.binlog

# Angular / Node
node_modules/
dist/
.angular/
npm-debug.log*
yarn-error.log

# Environment / secrets
appsettings.*.local.json
.env
*.local

# IDE
.idea/
*.swp

# OS
Thumbs.db
.DS_Store
